.logos_clearpeople-png{width:48px;height:48px;background-image:url(sprite0.png);background-position:-0px -0px;}
.logos_estratomedia-png{width:62px;height:75px;background-image:url(sprite0.png);background-position:-49px -0px;}
.logos_kabel-png{width:150px;height:181px;background-image:url(sprite0.png);background-position:-112px -0px;}
.logos_logo-lsi-50x40-png{width:50px;height:40px;background-image:url(sprite0.png);background-position:-263px -0px;}
.logos_logotipo-de-la-ua-178-x-28-pixel-png{width:178px;height:30px;background-image:url(sprite0.png);background-position:-314px -0px;}
