.projects_boe1-jpg{width:555px;height:271px;background-image:url(sprite0.png);background-position:-0px -0px;}
.projects_boe2-jpg{width:555px;height:271px;background-image:url(sprite0.png);background-position:-556px -0px;}
.projects_boe3-jpg{width:555px;height:271px;background-image:url(sprite0.png);background-position:-1112px -0px;}
.projects_boe4-jpg{width:555px;height:271px;background-image:url(sprite0.png);background-position:-1668px -0px;}
.projects_boe5-jpg{width:555px;height:271px;background-image:url(sprite0.png);background-position:-2224px -0px;}
.projects_boe6-jpg{width:555px;height:271px;background-image:url(sprite0.png);background-position:-2780px -0px;}
.projects_AVE-png{width:555px;height:351px;background-image:url(sprite0.png);background-position:-3336px -0px;}
.projects_AVE2-png{width:555px;height:351px;background-image:url(sprite0.png);background-position:-3892px -0px;}
.projects_AVE3-png{width:555px;height:351px;background-image:url(sprite1.png);background-position:-0px -0px;}
.projects_AVE4-png{width:555px;height:351px;background-image:url(sprite1.png);background-position:-556px -0px;}
.projects_AVE5-png{width:555px;height:351px;background-image:url(sprite1.png);background-position:-1112px -0px;}
.projects_AVE6-png{width:555px;height:351px;background-image:url(sprite2.png);background-position:-0px -0px;}
.projects_AVE_thumb-png{width:255px;height:161px;background-image:url(sprite2.png);background-position:-556px -0px;}
.projects_CloudflareApi-png{width:555px;height:351px;background-image:url(sprite2.png);background-position:-812px -0px;}
.projects_CloudflareApi2-png{width:555px;height:351px;background-image:url(sprite2.png);background-position:-1368px -0px;}
.projects_CloudflareApi_thumb-png{width:255px;height:161px;background-image:url(sprite2.png);background-position:-1924px -0px;}
.projects_Default-png{width:555px;height:351px;background-image:url(sprite3.png);background-position:-0px -0px;}
.projects_Default_thumb-png{width:255px;height:161px;background-image:url(sprite3.png);background-position:-556px -0px;}
.projects_Elabora-png{width:555px;height:351px;background-image:url(sprite3.png);background-position:-812px -0px;}
.projects_elabora2-png{width:555px;height:351px;background-image:url(sprite3.png);background-position:-1368px -0px;}
.projects_elabora3-png{width:555px;height:351px;background-image:url(sprite3.png);background-position:-1924px -0px;}
.projects_elabora_thumb-png{width:255px;height:161px;background-image:url(sprite3.png);background-position:-2480px -0px;}
.projects_Estrato-png{width:555px;height:351px;background-image:url(sprite3.png);background-position:-2736px -0px;}
.projects_Estrato2-png{width:555px;height:351px;background-image:url(sprite4.png);background-position:-0px -0px;}
.projects_Estrato3-png{width:555px;height:351px;background-image:url(sprite4.png);background-position:-556px -0px;}
.projects_Estrato_thumb-png{width:255px;height:161px;background-image:url(sprite4.png);background-position:-1112px -0px;}
.projects_HolaAmigos-png{width:555px;height:351px;background-image:url(sprite4.png);background-position:-1368px -0px;}
.projects_HolaAmigos_thumb-png{width:255px;height:161px;background-image:url(sprite4.png);background-position:-1924px -0px;}
.projects_HolaQueTal-png{width:555px;height:351px;background-image:url(sprite5.png);background-position:-0px -0px;}
.projects_HolaQueTal_thumb-png{width:255px;height:161px;background-image:url(sprite5.png);background-position:-556px -0px;}
.projects_IEVenture-png{width:555px;height:351px;background-image:url(sprite5.png);background-position:-812px -0px;}
.projects_IEVenture2-png{width:555px;height:351px;background-image:url(sprite6.png);background-position:-0px -0px;}
.projects_IEVenture3-png{width:555px;height:351px;background-image:url(sprite6.png);background-position:-556px -0px;}
.projects_IEVenture_thumb-png{width:255px;height:161px;background-image:url(sprite6.png);background-position:-1112px -0px;}
.projects_OpenBadgesModel-png{width:555px;height:351px;background-image:url(sprite6.png);background-position:-1368px -0px;}
.projects_OpenBadgesModel2-png{width:555px;height:351px;background-image:url(sprite6.png);background-position:-1924px -0px;}
.projects_OpenBadgesModel_Thumb-png{width:255px;height:161px;background-image:url(sprite6.png);background-position:-2480px -0px;}
.projects_Personal-png{width:555px;height:351px;background-image:url(sprite7.png);background-position:-0px -0px;}
.projects_Personal2-png{width:555px;height:351px;background-image:url(sprite7.png);background-position:-556px -0px;}
.projects_Personal3-png{width:555px;height:351px;background-image:url(sprite7.png);background-position:-1112px -0px;}
.projects_Personal_thumb-png{width:255px;height:161px;background-image:url(sprite7.png);background-position:-1668px -0px;}
.projects_SaintJames-png{width:555px;height:351px;background-image:url(sprite8.png);background-position:-0px -0px;}
.projects_SaintJames2-png{width:555px;height:351px;background-image:url(sprite8.png);background-position:-556px -0px;}
.projects_SaintJames_thumb-png{width:255px;height:161px;background-image:url(sprite8.png);background-position:-1112px -0px;}
.projects_Stage-png{width:555px;height:351px;background-image:url(sprite9.png);background-position:-0px -0px;}
.projects_Stage2-png{width:555px;height:351px;background-image:url(sprite9.png);background-position:-556px -0px;}
.projects_Stage3-png{width:555px;height:351px;background-image:url(sprite9.png);background-position:-1112px -0px;}
.projects_Stage4-png{width:555px;height:351px;background-image:url(sprite10.png);background-position:-0px -0px;}
.projects_Stage_thumb-png{width:255px;height:161px;background-image:url(sprite10.png);background-position:-556px -0px;}
.projects_UFVADEN-png{width:555px;height:351px;background-image:url(sprite10.png);background-position:-812px -0px;}
.projects_UFVADEN2-png{width:555px;height:351px;background-image:url(sprite10.png);background-position:-1368px -0px;}
.projects_UFVADEN3-png{width:555px;height:351px;background-image:url(sprite11.png);background-position:-0px -0px;}
.projects_UFVADEN_thumb-png{width:255px;height:161px;background-image:url(sprite11.png);background-position:-556px -0px;}
