<div class="margin-bottom-30">
	<ul class="social-icons" style="margin: 0; padding: 0">
		<li style="margin-right:2px;"><a href="http://www.sergigisbert.com/feed/rss" target="_blank" title="Feed" data-original-title=" feed" class="icons_social_rss-png"></a></li>
		<li style="margin-right:2px;"><a href="https://www.facebook.com/sergi.gisbert" target="_blank" title="Facebook" data-original-title=" facebook" class="icons_social_facebook-png"></a></li>
		<li style="margin-right:2px;"><a href="https://www.twitter.com/sgisbert" data-original-title="Twitter" title="Twitter" target=" _blank" class="icons_social_twitter-png"></a></li>
		<li style="margin-right:2px;"><a href="https://www.linkedin.com/in/sergiogisbertribes" data-original-title="Linkedin" title="Linkedin" target=" _blank" class="icons_social_linkedin-png"></a></li>
		<li style="margin-right:2px;"><a href="https://bitbucket.org/sergi_gisbert" data-original-title="Bitbucket" target="_blank" title="Bitbucket" class="icons_social_bitbucket-png"></a></li>
		<li style="margin-right:2px;"><a href="https://github.com/sgisbert" data-original-title="Github" target="_blank" title="Github" class="icons_social_github-png"></a></li>
	</ul>
</div>
