.about-jpg{width:806px;height:1075px;background-image:url(sprite0.png);background-position:-0px -0px;}
.about_old-jpg{width:543px;height:724px;background-image:url(sprite0.png);background-position:-807px -0px;}
.about_reduced-old-jpg{width:265px;height:353px;background-image:url(sprite0.png);background-position:-1351px -0px;}
.about_reduced-jpg{width:265px;height:382px;background-image:url(sprite0.png);background-position:-1617px -0px;}
.avatar-old2-jpg{width:74px;height:74px;background-image:url(sprite0.png);background-position:-1883px -0px;}
.avatar-jpg{width:1052px;height:1052px;background-image:url(sprite1.png);background-position:-0px -0px;}
.avatar_big-jpg{width:160px;height:160px;background-image:url(sprite1.png);background-position:-1053px -0px;}
.avatar_old-jpg{width:74px;height:74px;background-image:url(sprite1.png);background-position:-1214px -0px;}
.breadcrumbs-png{width:200px;height:200px;background-image:url(sprite1.png);background-position:-1289px -0px;}
.up-png{width:51px;height:42px;background-image:url(sprite1.png);background-position:-1490px -0px;}
