@model Post
@inject IOptionsSnapshot<BlogSettings> settings
@{
	string host = $"{Context.Request.Scheme}://{Context.Request.Host}";
}

@section Head {
	<link rel="canonical" href="@(host + Model.GetLink())" />
	<link rel="stylesheet" href="~/assets/css/pages/blog.css" />
	<link rel="stylesheet" href="~/assets/css/pages/page_magazine.css" />
}

<div class="row blog-page">
	<div class="col-md-9">
		@{ await Html.RenderPartialAsync("_Post.cshtml", Model); }
	</div>
	<div class="col-md-3 magazine-page">
		@{ await Html.RenderPartialAsync("_Sidebar.cshtml"); }
	</div>
</div>
