// Add here all your customized variables

$g-font-primary: "Raleway", Helvetica, Arial, sans-serif;
$g-font-secondary: "Raleway", Helvetica, Arial, sans-serif;

$g-color-primary: #6CBF84;
$g-color-secondary: #F26968;