/*Blog Large
------------------------------------*/
/*Blog Page*/

article {
    margin-bottom: 20px;
}

.page h2,
.error404 h2,
.archive h2,
.single h2,
.blog h2 {
	color: #555;
	font-size: 21px;
	line-height: 32px;
	/*margin-bottom: 10px;*/
}

.page h2 a,
.error404 h2 a,
.archive h2 a,
.single h2 a,
.blog h2 a {
	line-height: 32px;
}

.page h2 a:hover,
.error404 h2 a:hover,
.archive h2 a:hover,
.single h2 a:hover,
.blog h2 a:hover {
	text-decoration: none;
}

.footer h2, 
.footer h3,
.footer h4 {
	color: #e4e4e4;
	background: none;
	text-shadow: none;
}

.blog-img { 
	margin: 15px 0 15px 0;
    text-align: center;
}

.blog-img img{ 
    width:auto;
    max-width:100%;
    height:auto;
}

/*Blog Content Tags*/
.blog-post-tags {
	padding: 5px 0 8px;
	margin-bottom: 10px;
	/*border-top: solid 1px #eee;*/
	border-bottom: solid 1px #eee;
}

.blog-post-tags ul {
	margin-bottom: 2px;
}

.blog-post-tags li {
	font-size: 12px;
}

.blog-post-tags li i {
	color: #777;
}

.blog-post-tags ul.blog-info {
	color: #eee;
	margin-bottom: 3px;
}

.blog-post-tags ul.blog-tags a {
	color: #555;
	font-size: 11px;
	display: inline;
	padding: 3px 7px;
	margin-right: 2px;
	background: #f4f4f4;
}

.blog-post-tags ul.blog-tags a:hover {
	background: #72c02c;
}

footer.entry-meta a:hover,
footer.entry-meta a:hover i,
div.entry-content a.more-link:hover,
div.entry-content a.more-link:hover i {
	color: #fff !important;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

div.entry-content a.more-link,
footer.entry-meta a {
	color: #555;
	font-size: 11px;
	display: inline;
	padding: 3px 7px;
	margin-right: 2px;
	background: #f4f4f4;
}
div.entry-content a.more-link:hover,
footer.entry-meta a:hover {
	background: #72c02c;
}

/*Blog Item Page
------------------------------------*/
.blog-item .media img {
	top: 3px;
	width: 54px;
	height: 54px;
	position: relative;
}

.post-comment h3,
.blog-item .media h3 {
	color: #72c02c;
	font-size: 21px;
	margin-bottom: 25px;
}

.blog-item .media h4.media-heading {
	color: #555;
	font-size: 17px;
	position: relative;
}

.blog-item .media h4.media-heading span {
	top: 3px; 
	right: 0;
	color: #777;
	font-size: 12px;
	position: absolute;
}

.blog-item .media h4.media-heading span a {
	color: #72c02c;
}

/*Blog Medium
------------------------------------*/
.blog-medium .blog-info li {
	color: #777;
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
	.blog-medium img {
		margin-bottom: 20px;
	}
}

/*Blog Full Wisth
------------------------------------*/
.blog-full-width ul.blog-info {
	margin-bottom: 0;
}